/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Oxygen";
        @apply text-primary-900;
        background-color: #ECECFC;
    }
    h1 {
        font-family: "Red Hat Display";
        @apply text-2xl;
        
    }

}

@layer utilities {
    .custom-scroll::-webkit-scrollbar {
        @apply size-2 ;
    }
  
    .custom-scroll::-webkit-scrollbar-track {
        @apply rounded-r-md bg-primary-100 dark:bg-primary-500/25;
    }
  
    .custom-scroll::-webkit-scrollbar-thumb {
        @apply rounded-r-md bg-primary-300 dark:bg-primary-400;
    }
  
    .custom-scroll::-webkit-scrollbar-thumb:hover {
        @apply bg-primary-600;
    }
    
  }